.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  margin-left: 42%;
margin-top: 3%;  
}

.nav-links {
  display: flex;
}

.nav-links li {
  margin-left: 18px;
  list-style: none;
}

.nav-links a {
  font-size: 16px;
  font-weight: 300;
  color: rgb(255, 255, 255);
  /* text-decoration: none; */
  margin-right: 1rem;
  transition: all 0.3s;
}
.nav-links a:hover,
#nav-links-mobile a:hover {
  color: rgb(4, 4, 4);
}

/* Media Queries */
@media screen and (max-width: 1200px) {
  /* hide nav button on navbar */
  .nav-links a {
    color: black;
  }
  /* Media Queries */
  @media screen and (max-width: 769px) {
    /* hide nav button on navbar */
    .nav-links a {
      color: black;
    }
    .navbar {
      margin-left: 15%;
    }
  } /* Media Queries */
}


@media screen and (max-width: 600px) {
  /* show nav button on navbar menu */
  .nav-links a {
    color: black;
    font-size: 12px;

  }
  .navbar {
    margin-left: -1%;
  }
  .nav-links li {
    margin-left: 1px;
    list-style: none;
  }
}
