.container-shares {

     margin: 0 auto;
     margin-bottom: 5%;
     display: flex;
     flex-direction: row;
     
   }
   .title2 {
     text-align: center;
     margin-bottom: 4rem;
   }
   
   .title2 h1 {
     position:absolute;
     left: 175px;
     bottom: 120px;
     font-size: 1rem;
     font-weight: 300;
     line-height: 1.4;
     margin: 1.2rem 0;
     width: 110%;
     
   }
   .title2 h1 span:nth-child(1){
     margin-left: -18%;
   }
   
   
   .shares-content {
     margin-top: 7%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     min-width: 40%;
     /* padding: 3rem 0; */
   }
   
   .shares-left {
     flex: 1;
     text-align: center;
   }
   .shares-left img {
     width: 65%;
   }
   .shares-right {
     flex: 1;
     position: absolute;
     left: 270px;
   }
   
   .share-right {
     margin-left: 27%;
     margin-top: 5%;
   }

   .learn-cta{
    position: absolute;
margin-top: 36%;
    left: 14%;
   }
  
   @media screen and (max-width: 600px) {
     .shares-content {
       flex-direction: column;
     }
   }
   